Repository AY1920S1-CS2113T-F14-4/main, pull requests merged in 2019-09, with the labels that each got.

#4 Add Travis CI
  .travis.yml
Labels: type.Task

#5 [CS2113T-F14-4]-rssujay-A-Gradle
  build.gradle
Labels: type.Task

#6 [CS2113T-F14-4]-rssujay-A-CheckStyle
  config/checkstyle/checkstyle.xml
Labels: type.Task

#7 [CS2113T-F14-4]-rssujay-A-Jar
  build.gradle
Labels: release.Jar, type.Task

#8 Fix missing new directory during setup
  data/placeholder.txt
  src/main/java/duke/Storage.java
Labels: severity.High, type.Bug

#9 [CS2113T-F14-4]-TCK1997-A-Libraries
  build.gradle
  src/main/java/duke/DateTime.java
  src/main/java/duke/Duke.java
  src/main/java/duke/Storage.java
  src/main/java/duke/commands/AddCommand.java
  src/main/java/duke/tasks/Deadline.java
  src/main/java/duke/tasks/Event.java
  src/test/java/DateTimeTest.java
Labels: priority.Medium, type.Task

#11 Update storage unit tests and maintenance
  src/main/java/duke/DateTime.java
  src/main/java/duke/tasks/Task.java
  src/test/java/StorageTest.java
Labels: type.Task, type.Tests

#12 [CS2113T-F14-4]-lackmoo-B-FixedDurationTasks
  src/main/java/duke/Parser.java
  src/main/java/duke/Storage.java
  src/main/java/duke/commands/AddCommand.java
  src/main/java/duke/tasks/Fixed.java
  src/test/java/FixedTest.java
Labels: type.Task, type.Tests

#14 fix bug when done has no index
  src/main/java/duke/Parser.java
Labels: severity.Medium, type.Bug

#16 [CS2113T-F14-4]-rssujay-B-Reminders
  src/main/java/duke/DateTime.java
  src/main/java/duke/Parser.java
  src/main/java/duke/TaskList.java
  src/main/java/duke/Ui.java
  src/main/java/duke/commands/ReminderCommand.java
  src/main/java/duke/tasks/Deadline.java
  src/main/java/duke/tasks/Event.java
  src/main/java/duke/tasks/Task.java
  src/test/java/ReminderCommandTest.java
Labels: severity.High, type.Bug, type.Task, type.Tests

#19 [CS2113T-F14-4]-ttippinyu-B-DoWithinPeriodTasks
  src/main/java/duke/Parser.java
  src/main/java/duke/Storage.java
  src/main/java/duke/commands/AddCommand.java
  src/main/java/duke/tasks/Within.java
  src/test/java/WithinTest.java
Labels: type.Task, type.Tests

#18 [CS2113T-F14-4]-ttippinyu-B-ViewSchedules
  src/main/java/duke/Parser.java
  src/main/java/duke/commands/ViewScheduleCommand.java
  src/main/java/duke/tasks/Deadline.java
  src/main/java/duke/tasks/Event.java
  src/main/java/duke/tasks/Task.java
  src/test/java/ViewScheduleTest.java
Labels: type.Task, type.Tests

#20 [CS2113T-F14-4]-rssujay-B-RecurringTasks
  src/main/java/duke/Parser.java
  src/main/java/duke/Storage.java
  src/main/java/duke/commands/AddCommand.java
  src/main/java/duke/tasks/Recurring.java
  src/main/java/duke/tasks/Task.java
  src/test/java/DukeTest.java
  src/test/java/RecurringTest.java
  src/test/java/StorageTest.java
Labels: priority.Medium, type.Task, type.Tests

#21 [CS2113T-F14-4]-ttippinyu-B-TentativeScheduling
  src/main/java/duke/Parser.java
  src/main/java/duke/Storage.java
  src/main/java/duke/TaskList.java
  src/main/java/duke/commands/AddCommand.java
  src/main/java/duke/commands/SetCommand.java
  src/main/java/duke/tasks/Tentative.java
  src/test/java/TentativeTest.java
Labels: type.Task

#10 [CS2113T-F14-4]-TCK1997-B-Snooze
  src/main/java/duke/Parser.java
  src/main/java/duke/commands/SnoozeCommand.java
  src/main/java/duke/tasks/Deadline.java
  src/main/java/duke/tasks/Event.java
  src/test/java/SnoozeTest.java
Labels: type.Task
